:root {
    background-color: black;
    color: white;
    --hover-green: #66fbee;
    --dark-purple: #37266b;
    --light-purple: #9380dc;
}

a {

}

h1 {

}

header {

}

main {


}

footer {

}

.crop-circle {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#manu-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#bb-manu {
    display: inline;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

img {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}


